.body-dark {
    background: linear-gradient(to right, #00bf8f, #001510); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.body-light {
    background: linear-gradient(to right, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px auto 0;
    max-width: 400px;
    padding: 10px;
    width: 100%;
}

.bg-dark-mode {
    background: #001510;
}

.bg-light-mode {
    background: #f2fcfe;
}

.calculator-screen {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    /* height: 50% of the page; */
    height: 44vh;
    position: relative;
}

.dark-screen {
    background: #272827;
    border: 1px solid #272827;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
}

.light-screen {
    background: #e6e6e6;
    border: 1px solid  #e6e6e6;
    border-radius: 5px;
    color: #333;
}

.btn {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    margin: 5px;
    outline: none;
    width: 70px;
}

.btn-dark-mode {
    background: #001510;
    border: 2px solid #00bf8f;
    color: #00bf8f;
}

.btn-dark-mode:hover {
    background: #00bf8f;
    color: #001510;
}

.btn-light-mode {
    background: #f2fcfe;
    border: 2px solid #1c92d2;
    color: #1c92d2;
}

.btn-light-mode:hover {
    background: #1c92d2;
    color: #f2fcfe;
}


.big-btn {
    width: 165px;
}

.custom-btn {
    width: fit-content;
    height: auto;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.btn-dark {
    background-color: #333333;
    color: #fff;
    border: 0;
}

btn-light {
    background-color: #fff;
    color: #333333;
    border: 0;
}

.btn-dark:hover {
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333;
}

.btn-light:hover {
    background-color: #333333;
    color: #fff;
    border: 1px solid #fff;
}

.calculator-screen-input {
    position: absolute;
    bottom: 0;
}

.value-input {
    background: transparent;
    border: none;
    font-size: 2em;
    outline: none;
    text-align: right;
    width: 100%;
    color: #05df18;
    height: fit-content;
}

#resultT {
    color: rgba(5, 223, 24, 0.65);
}

#last-calc {
    /* infinite scroll list */
    color: #05df18;
    margin: 1em auto;
    padding: 0;

    height: 4em;
    overflow: auto;
}

#last-calc li {
    margin-top: 0.5em;
    padding: 0;
}